@import url('https://fonts.googleapis.com/css?family=Raleway|Source+Code+Pro');

/*
	COLOURS
*/

:root {
	--bg-back: #282828;
	--bg-mid: #323232;
	--bg-front: #383838;
	--fg-front: #EEEEEE;
	--fg-back: #808080;
	--fg-active: #20E020;
}


/*
	GENERAL STYLES
*/

body {
	position: relative;
	padding: 0;
	margin: 0;
	background-color: var(--bg-back);
}

p, li, label {
	margin: 0;
	padding: 0;
	color: var(--fg-front);
	font-family: 'Raleway', sans-serif;
}

li {
	width: 100%;
	margin-top: 10px;
	margin-left: 10px;
}

label {
	font-size: 0.8em;
}

button {
	padding: 5px;
	margin: 0px 10px 0px 10px;
	background-color: var(--bg-mid);
	border: 1px solid var(--fg-front);
	border-radius: 2px;
	color: var(--fg-front);
	outline: none;
	font-family: 'Raleway', sans-serif;
}

button:hover {
	border: 1px dashed var(--fg-front);
}

button:active {
	background-color: var(--bg-back);
}

button:disabled {
	border: 1px solid var(--fg-back);
	background-color: transparent;
}

input {
	padding: 5px;
	outline: none;
	background-color: var(--bg-mid);
	color: var(--fg-front);
	border: 1px solid var(--fg-front);
	border-radius: 2px;
	font-family: 'Raleway', sans-serif;
}

input:disabled {
	border: 1px solid var(--fg-back);
	background-color: transparent;
}

input[type=number]:disabled {
	border: 1px solid transparent;
}

input[type=number]::-webkit-inner-spin-button {
	opacity: 1;
}

input[type=number]:disabled::-webkit-inner-spin-button {
	-webkit-appearance: none;
}


/*
	P5.JS SKETCH
*/

#p5_loading {
	background-color: var(--bg-back);
	color: rgb(40, 40, 40);
	width: 100%;
	height: 100%;
	position: fixed;
	margin: 0;
	padding: 0;
}

#game {
	position: fixed;
	width: 75%;
	height: 100%;
	left: 25%;
	z-index: 0;
}


/*
	SIDEBAR BACKGROUND
*/

#sidebar {
	display: flex;
	flex-direction: column;
	position: fixed;
	width: 25%;
	height: 100%;
	min-width: 250px;
	background-color: var(--bg-mid);
	box-shadow: 1px 0 5px 2px rgba(0,0,0,0.2);
	z-index: 1;
}

.section {
	width: 100%;
	background-color: var(--bg-front);
	padding: 15px 0 15px 0;
	margin: 0px 0px 20px 0px;
	box-shadow: -1px 0 10px -2px rgba(0,0,0,0.3);
}


/*
	PLAYER NAME SECTION
*/

#player-name {
	text-align: center;
	font-size: 1em;
}


/*
	JOIN/LEAVE GAME SECTION
*/

#section-btns button {
	width: calc(50% - 22px);
}

#input-nickname {
	width: calc(100% - 32px);
	margin: 10px 10px 0px 10px;
	display: none;
}


/*
	PLAYER LIST SECTION
*/

#section-players {
	flex-grow: 1;
}

#player-count {
	display: inline;
	font-size: 0.9em;
	margin: 0px 10px 0px 10px;
}

#player-list {
	padding: 0;
	margin: 0px 0px 0px 0px;
	list-style-position: inside;
	font-size: 0.9em;
}

.player {
	position: absolute;
	display: inline-block;
	z-index: 2;
	color: var(--fg-back);
	max-width: calc(100% - 30px);
	overflow-x: hidden;
}

.active-player {
	color: var(--fg-front);
}

#active-player-indicator {
	color: var(--fg-front);
	margin-right: 40px;
	float: right;
}

.score-bar {
	position: absolute;
	margin: 0.2em 0 0 0;
	background-color: var(--fg-back);
	height: 2px;
}


/*
	SETTINGS SECTION
*/

#section-settings * {
	display: inline-block;
}

.setting {
	margin: 0px 10px 0px 10px;
}

.setting * {
	margin: 0;
}


/*
	CHAT SECTION
*/

#section-chat {
	bottom: 0px;
	height: 30%;
	max-height: 200px;
	padding-bottom: 0;
	margin: 0;
}

#chat-container {
	width: 100%;
	height: 80%;
	overflow-y: scroll;
	overflow-x: hidden;
}

#chat-container p {
	width: calc(100% - 20px);
	margin-bottom: 5px;
	padding: 2px 10px 2px 10px;
	font-family: 'Source Code Pro', monospace;
	font-size: 0.8em;

	white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
    word-break: break-all;
    white-space: normal;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar {
	width: 2px;
	background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: var(--fg-front);
}

#input-chat {
	margin: 0;
	padding: 0px 10px 0px 10px;
	box-sizing: border-box;
	width: 100%;
	height: 20%;
	outline: none;
	border: none;
	color: var(--fg-front);
	background-color: var(--bg-mid);
	font-family: 'Source Code Pro', monospace;
	font-size: 0.8em;
}
